<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="field form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="actions">
    <%= f.submit %>
    <br><br>
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<% end %>
