
<h1 class="users">Users</h1>
<table>
  <thead>
    <tr>
      <th class="col-md-3 user">First Name</th>
      <th class="col-md-3 user">Last Name</th>
      <th class="col-md-3 user">Email Address</th>
      <th class="col-md-3 user">Admin</th> 
      <th class="user">Action</th>
    </tr>
  </thead>
  
  <tbody>  
    <% @users.each do |user| %>
      <tr>
        <td class="user"><%= user.first_name %></td>
        <td class="user"><%= user.last_name %></td>
        <td class="user"><%= user.email %></td>
        <td class="user"><%= user.admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>  
</table>
<br>
<% if current_user.admin? %>
  <%= link_to 'New User', new_user_path %>
<% else %>
<% end %>