<!-- <p id="notice"><%= notice %></p> -->
<br><br>

<div>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</div>
<br>
<div>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</div>
<br>
<div>
  <strong>Email:</strong>
  <%= @user.email %>
</div>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
