<!-- error handling -->
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- form -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_field(:name, size:36, class: "form-control") %>
    </div>
    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area(:description, cols:35, rows:8, class: "form-control") %>
    </div>
    <div class="field form-group">
      <%= f.label :image_url %>
      <%= f.text_field(:image_url, size:36, class: "form-control") %>
    </div>
    <div class="field form-group">
      <%= f.label :colour %>
      <%= f.text_field(:colour, size:36, class: "form-control") %>
    </div>
    <div class="field form-group">
      <%= f.label :price %>
      <%= f.text_field(:price, size:8, class: "form-control") %>
    </div>
    <div class="actions">
      <%= f.submit %><br><br>
      <%= link_to 'Show', @product %> |
      <%= link_to 'Back', products_path %> |
      <%= link_to 'Edit', edit_product_path(product) %>
    </div>
  </div>
  <div class="col-md-4"></div>
<% end %>
