<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="Site" data-spy="scroll" data-target=".navbar">
    <!-- begin navbar  -->
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div class="projectName navbar-brand" >
        <%= link_to('Welcome', static_pages_index_path) %>
        </div> <!-- end projectName -->
      </div> <!-- end navbar header -->
        <div class="navbar-collapse collapse"> 
  		    <ul class="nav navbar-nav navbar-right">
           <li><%= link_to('Products', products_path) %></li>
  			   <li><%= link_to('About', static_pages_about_path) %></li>
  			   <li><%= link_to('Contacts', static_pages_contact_path) %></li>
  		    </ul>
        </div> <!-- end navbar-collapse --> 
      </div> <!--end nav container-fluid -->  
    </nav> <!-- end navbar -->
    <main class="Site-content">
    <%= yield %>
    </main>
    <footer class="site-footer">
    	&copy; 2016 JP Dickerson
    </footer>
  </body>
</html>
